<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Shop Managment</title>
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="container">
    <h2>Add a new Shop</h2>
    <!-- Add New Shop-->
    <form action="/save" method="post">
      <div class="modal-content">
        <div class="modal-body">

          <div class="form-group">
            <label for="shopID" class="form-lable">Shop ID </label>
            <input type="text" name="shopID" class="form-control" placeholder="005" required>
          </div>
          
          <div class="form-group">
            <label for="shopName" class="form-lable">Shop Name </label>
            <input type="text" name="shopName" class="form-control" placeholder="ABC Shop" required>
          </div>
          
          <div class="form-group">
            <label for="shopCatId" class="form-lable">Shop Category </label>
            <select name="shopCatId" id="shopCatId" class="form-control">
              {{#each results}}
                <option value={{idCategory}}>{{CatName}}</option>
              {{/each}}
            </select>
          </div>

          <div class="form-group">
            <label for="shopFloorLoc" class="form-lable">Shop Location </label>
            <select name="shopFloorLoc" id="shopFloorLoc" class="form-control">
              {{#each results1}}
                <option value={{idFloor}}>{{floorName}}</option>
              {{/each}}
            </select>
          </div>

          <div class="form-group">
            <label for="ManName" class="form-lable">Shop Manager </label>
            <input type="text" name="ManName" class="form-control" placeholder="Dinuka Ekanayake">
          </div>

          <div class="form-group">
            <label for="Desc" class="form-lable">Shop Description </label>
            <textarea type="text" name="Desc" class="form-control" placeholder="24x7 Online" ></textarea>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" onclick="location.href='/'">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </form>
  </div>


  <script src="/assets/js/jquery-3.3.1.js"></script>
  <script src="/assets/js/bootstrap.js"></script>
</body>

</html>