<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Shop Managment</title>
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div class="container">
    <h2>Shops</h2>

    <input type="text" value="" class="form-control align-content-end" placeholder="Search Shop...">
		<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
    <button class="btn btn-success align-content-end" data-toggle="modal" onclick="location.href='/addshop'">Add New</button>

    <table class="table table-striped" id="mytable">
      <thead>
        <tr>
          <th>Shop ID</th>
          <th>Shop Name</th>
          <th>Shop Category</th>
          <th>Shop Location</th>
          <th>Shop Manager</th>
          <th>Shop Description</th>
        </tr>
      </thead>
      <tbody>
         {{#each results}}
        <tr>
          <td>{{ shopID }}</td>
          <td>{{ shopName }}</td>
          <td>{{ shopCategory }}</td>
          <td>{{ shopLocation }}</td>
          <td>{{ shopManager }}</td>
          <td>{{ shopDesc }}</td>
          <td>
 	          <form action="/view" method="post">
              <input type="hidden" name="shopID" required value="{{shopID}}">
              <button type="submit" class="btn btn-sm btn-info">View</button>
              <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{ shopID }}">Delete</a>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

	 <!-- Delete  Modal-->
 	  <form id="add-row-form" action="/delete" method="post">
 	     <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 	        <div class="modal-dialog">
 	           <div class="modal-content">
 	               <div class="modal-header">
									 	<h5 class="modal-title" id="myModalLabel">Delete</h5>
 	                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 	               </div>
 	               <div class="modal-body">
												 <strong>Are You Sure To Delete This Data?</strong>
 	               </div>
 	               <div class="modal-footer">
									 		<input type="hidden" name="shopID" class="form-control product_id2" required>
 	                   	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
 	                  	<button type="submit" class="btn btn-success">Delete</button>
 	               </div>
 	      			</div>
 	        </div>
 	     </div>
 	 </form>

<script src="/assets/js/jquery-3.3.1.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script>
			//showing modal for delete record
			$('#mytable').on('click','.delete',function(){
        var shopID = $(this).data('id');
        $('#DeleteModal').modal('show');
        $('.product_id2').val(shopID);
      });
</script>
</body>
</html>
