<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Shop Managment</title>
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div class="container">
    {{#each results}}

    <h2>{{shopName}}</h2>
    <!-- Add update Shop-->
    <form action="/update" method="post">
      <div class="modal-content">
        <div class="modal-body">

          <div class="form-group">
            <label for="shopID" class="form-lable">Shop ID </label>
            <input type="text" name="shopID" class="form-control" placeholder="005" value="{{shopID}}" disabled required>
          </div>
          
          <div class="form-group">
            <label for="shopName" class="form-lable">Shop Name </label>
            <input type="text" name="shopName" class="form-control" placeholder="ABC Shop" value="{{shopName}}" required>
          </div>
          
          <div class="form-group">
            <label for="shopCatId" class="form-lable">Shop Category </label>
            <select name="shopCatId" id="shopCatId" class="form-control">
                <option value={{shopCatId}}>{{shopCategory}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="shopFloorLoc" class="form-lable">Shop Location </label>
            <select name="shopFloorLoc" id="shopFloorLoc" class="form-control">
                <option value={{shopFloorLoc}}>{{shopLocation}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="ManName" class="form-lable">Shop Manager </label>
            <input type="text" name="ManName" class="form-control" placeholder="Dinuka Ekanayake" value="{{shopManager}}">
          </div>

          <div class="form-group">
            <label for="Desc" class="form-lable">Shop Description </label>
            <textarea type="text" name="Desc" class="form-control" placeholder="24x7 Online" >{{shopDesc}}</textarea>
            <input type="hidden" name="shopIDup" value="{{shopID}}">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" onclick="location.href='/'">Close</button>
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </div>
    </form>
    {{/each}}
  </div>
</body>
</html>
